@import '~antd/es/style/themes/default.less';

.dne-create-form {
  margin: 0 auto;
  min-width: 1000px;
  .dne-create-form-steps {
    border-bottom: 1px solid @border-color-base;
  }

  .array-close-btn {
    margin-bottom: 10px;
    p {
      display: inline-block;
      cursor: pointer;
      &:hover {
        color: @primary-color;
      }
      :global {
        .anticon {
          transition: transform 0.2s;
          &.open {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
